body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #e8491d;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px auto;
    /* max-width: 800px; */
    max-width: 1500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

h2 {
    color: #35424a;
}

blockquote {
    border-left: 4px solid #e8491d;
    padding-left: 20px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: white;
}

footer p {
    margin: 5px 0;
}
